
  <div class="container">
        <div class="row">
         
          <div class="col">
                <div class="card" *ngIf="characters">
                        <div class="card-header">
                                <img src="../../assets/thrones.jpg" class="img-fluid" alt="Responsive image">
                                                            
                    
                        </div>
                    
                        <div class="card-block">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Characters</th>
                                      
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let character of characters">
                                        <td (click)="btnclick(character.url)" *ngIf="character.name">{{character.name}}</td>
                                      
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
          </div>
          
          <div class="col" *ngIf="detail">
                <div class="card card-body">
                        <h4 class="card-title">{{detail.name}}</h4>
                        <p class="card-text">{{detail.aliases}}</p>
                        <div class="flex-row">
                            <a class="card-link">{{detail.playedBy}}</a>
                            <a class="card-link">{{detail.gender}}</a>
                        </div>
                    </div>
          </div>
          
          <div class="col">
               
          </div>
          
        </div>
      </div>